<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method = "POST">
        <label for="selection">Pick an object</label>
        <select name="selection" id="selection">
            <option value="0" {% if selected=="0" %}selected="true"{% endif %}>Hulk (large,2 legs, green)</option>
            <option value="1" {% if selected=="1" %}selected="true"{% endif %}>Fox (small, 4 legs, grey)</option>
            <option value="2" {% if selected=="2" %}selected="true"{% endif %}>Elephant (large, 4 legs, brown)</option>
            <option value="3" {% if selected=="3" %}selected="true"{% endif %}>Ekans (small, 0 legs, purple)</option>
            <option value="4" {% if selected=="4" %}selected="true"{% endif %}>Totoro (large, 2 legs, grey)</option>
        </select>
        <input type="submit" value="Pick" />
    </form>

    {% for image in images %}
        <img src="/static/{{ image }}" alt="{{ image }}" height="300px">
    {% endfor %}
</body>
</html>